@(id: String, username: String)(implicit request: RequestHeader)

@game("Chat") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chat.css")">
<script>
//var username = "@username"
var wsURL = '@routes.Application.stream("chat", id, username).webSocketURL()';
</script>

<div class="container">
	<div class="row">
		<h1 class="span8 offset4">Chat Room #@id</h1>
	</div>

	<div class="row">
		<div id="chattext" class="chatwindow"></div>
	</div>
<div class="span12 messageBar">
	<div class="input-append">
	<input id="messageText" type="text" class="span8">
	<button id="submitButton" type="button" class="btn">Submit</button>
	</div>
</div>

</div>

<script src="@routes.Assets.at("javascripts/chat.js")"></script>
}
