@(g: GameType, id: String)(content: Html)(implicit request: RequestHeader)

@main(g.toString) {
	<script>
		var wsURL = '@routes.Application.socket(g, id, None).webSocketURL()'
	</script>
	<script src='@routes.Assets.at("javascripts/qgsocket.js")'></script>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sidebar.css")">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				@content
			</div>
			<div class="span3">
        <div id="members">
          <ul id="players"></ul>
          <ul id="other"></ul>
        </div>
				<div id="messagePanel">
					<div id="messageText"></div>
				</div>
				<input id="messageInput" type="text">
			</div>
		</div>
	</div>
	<script src="@routes.Assets.at("javascripts/sidebar.js")"></script>
}
