@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@routes.Application.index()">quickga.me</a>
                <ul class="nav">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">New<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          @for(g <- controllers.Games.values) {
                            <li><a href="@routes.Application.newGame(g)">@g.toString</a></li>
                          }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @content
</body>
</html>
