@(id: String, username: String)(implicit request: RequestHeader)

@game("Tic Tac Toe") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tictactoe.css")">
<script>
  var wsURL = '@routes.Application.stream(models.Tictactoe, id, username).webSocketURL()'
</script>


<div id="ttcontainer" class="container tictacwrapper">
<!-- 
<p id="message"></p>
<div id="board">
  <div class="ttrow">
    <button class="btn tictac" id="00"></button>
    <button class="btn tictac" id="01"></button>
    <button class="btn tictac" id="02"></button>
  </div>
  <div class="ttrow">
    <button class="btn tictac" id="10"></button>
    <button class="btn tictac" id="11"></button>
    <button class="btn tictac" id="12"></button>
  </div>
  <div class="ttrow">
    <button class="btn tictac" id="20"></button>
    <button class="btn tictac" id="21"></button>
    <button class="btn tictac" id="22"></button>
  </div>
</div> -->
</div>

<!-- <div id="testBoard"></div> -->

<script src='@routes.Assets.at("javascripts/tictactoe.js")'></script>
<script src='@routes.Assets.at("javascripts/board.js")'></script>
}
