@(id: String, username: String)(implicit request: RequestHeader)

@game("Tic Tac Toe") {
<script>
  var wsURL = '@routes.Application.stream(models.Tictactoe, id, username).webSocketURL()'
</script>

<p id="message"></p>

<div id="board">
  <div>
    <button id="00"></button>
    <button id="01"></button>
    <button id="02"></button>
  </div>
  <div>
    <button id="10"></button>
    <button id="11"></button>
    <button id="12"></button>
  </div>
  <div>
    <button id="20"></button>
    <button id="21"></button>
    <button id="22"></button>
  </div>
</div>

<script src='@routes.Assets.at("javascripts/tictactoe.js")'></script>
}
