@(id: String, username: String)(implicit request: RequestHeader)

@game("Tic Tac Toe") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tictactoe.css")">
<script>
  var wsURL = '@routes.Application.stream(models.Tictactoe, id, username).webSocketURL()'
</script>

<div class="container ">

<!-- <div class="alert alert-success" id="message"></div> -->
<div id="ttcontainer" class="tictacwrapper"></div>

<script src='@routes.Assets.at("javascripts/tictactoe.js")'></script>
<script src='@routes.Assets.at("javascripts/board.js")'></script>
}
