@(message: String)
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/welcome.css")">
<div class="container">
  <div class="row">
    <div class="span4">
     <a class="btn btn-primary super-button" href="/chat/new">Chat &raquo;</a>
    </div>
    <div class="span4">
     <a class="btn btn-success super-button" href="/chat/new">Chat &raquo;</a>
    </div>
    <div class="span4">
     <a class="btn btn-danger super-button" href="/chat/new">Chat &raquo;</a>
    </div>
  </div>

</div> 